In [27]:
import pandas as pd
import numpy as np
import etl

In [28]:
male_pvp = pd.read_csv('../datasets/processed/proyecto_poblacion/male_pvp.csv')
male_pvp = male_pvp.drop(['Unnamed: 0','Index','Notes of destination','Location code of destination','Type of data of destination','Location code of origin'],axis=1)
male_pvp.columns = ['destination','origin','1990','1995','2000','2005','2010','2015','2020']

fem_pvp = pd.read_csv('../datasets/processed/proyecto_poblacion/fem_pvp.csv')
fem_pvp = fem_pvp.drop(['Unnamed: 0','Index','Notes of destination','Location code of destination','Type of data of destination','Location code of origin'],axis=1)
fem_pvp.columns = ['destination','origin','1990','1995','2000','2005','2010','2015','2020']

total_pvp = pd.read_csv('../datasets/processed/proyecto_poblacion/total_pvp.csv')
total_pvp = total_pvp.drop(['Unnamed: 0','Index','Notes of destination','Location code of destination','Type of data of destination','Location code of origin'],axis=1)
total_pvp.columns = ['destination','origin','1990','1995','2000','2005','2010','2015','2020']

In [29]:
total_pvp.destination = total_pvp.destination.apply(etl.remove_special_characters).str.lower()
total_pvp.destination = total_pvp.destination.astype(str)
total_pvp.destination = total_pvp.destination.str.strip()
total_pvp.destination = total_pvp.destination.apply(etl.normalize_country).str.lower()

total_pvp.origin = total_pvp.origin.apply(etl.remove_special_characters).str.lower()
total_pvp.origin = total_pvp.origin.astype(str)
total_pvp.origin = total_pvp.origin.str.strip()
total_pvp.origin = total_pvp.origin.apply(etl.normalize_country).str.lower()

total_pvp = total_pvp.drop(total_pvp.where(~total_pvp.destination.isin(etl.country_code_df['name'])).dropna().index,axis=0)
total_pvp = total_pvp.drop(total_pvp.where(~total_pvp.origin.isin(etl.country_code_df['name'])).dropna().index,axis=0)

total_pvp = total_pvp.rename({'destination':'name'},axis=1)
etl.insert_country_code(total_pvp)
total_pvp = total_pvp.rename({'name':'destination','region_id':'destination_id','origin':'name'},axis=1)
etl.insert_country_code(total_pvp)
total_pvp = total_pvp.rename({'name':'origin','region_id':'origin_id'},axis=1)

total_pvp.insert(1,'destination_id',total_pvp.pop('destination_id'))

total_pvp.insert(3,'origin_id',total_pvp.pop('origin_id'))

total_pvp.to_csv('../datasets/processed/proyecto_poblacion/total_pvp_codigo_pais.csv')

total_pvp = (
    total_pvp.set_index(["destination", "destination_id", "origin", "origin_id"])
    .rename_axis("year", axis=1)
    .stack()
    .reset_index()
    .sort_values(['year','destination'])
    .rename({0:'migrants'},axis=1)
    .reset_index(drop=True)
    .rename_axis(None, axis=1)
    .rename_axis("id")
)

In [30]:
fem_pvp.destination = fem_pvp.destination.apply(etl.remove_special_characters).str.lower()
fem_pvp.destination = fem_pvp.destination.astype(str)
fem_pvp.destination = fem_pvp.destination.str.strip()
fem_pvp.destination = fem_pvp.destination.apply(etl.normalize_country).str.lower()

fem_pvp.origin = fem_pvp.origin.apply(etl.remove_special_characters).str.lower()
fem_pvp.origin = fem_pvp.origin.astype(str)
fem_pvp.origin = fem_pvp.origin.str.strip()
fem_pvp.origin = fem_pvp.origin.apply(etl.normalize_country).str.lower()

fem_pvp = fem_pvp.drop(fem_pvp.where(~fem_pvp.destination.isin(etl.country_code_df['name'])).dropna().index,axis=0)
fem_pvp = fem_pvp.drop(fem_pvp.where(~fem_pvp.origin.isin(etl.country_code_df['name'])).dropna().index,axis=0)

fem_pvp = fem_pvp.rename({'destination':'name'},axis=1)
etl.insert_country_code(fem_pvp)
fem_pvp = fem_pvp.rename({'name':'destination','region_id':'destination_id','origin':'name'},axis=1)
etl.insert_country_code(fem_pvp)
fem_pvp = fem_pvp.rename({'name':'origin','region_id':'origin_id'},axis=1)

fem_pvp.insert(1,'destination_id',fem_pvp.pop('destination_id'))

fem_pvp.insert(3,'origin_id',fem_pvp.pop('origin_id'))

fem_pvp.to_csv('../datasets/processed/proyecto_poblacion/male_pvp_codigo_pais.csv')

fem_pvp = (
    fem_pvp.set_index(["destination", "destination_id", "origin", "origin_id"])
    .rename_axis("year", axis=1)
    .stack()
    .reset_index()
    .sort_values(['year','destination'])
    .rename({0:'migrants'},axis=1)
    .reset_index(drop=True)
    .rename_axis(None, axis=1)
    .rename_axis("id")
)

In [31]:
male_pvp.destination = male_pvp.destination.apply(etl.remove_special_characters).str.lower()
male_pvp.destination = male_pvp.destination.astype(str)
male_pvp.destination = male_pvp.destination.str.strip()
male_pvp.destination = male_pvp.destination.apply(etl.normalize_country).str.lower()

male_pvp.origin = male_pvp.origin.apply(etl.remove_special_characters).str.lower()
male_pvp.origin = male_pvp.origin.astype(str)
male_pvp.origin = male_pvp.origin.str.strip()
male_pvp.origin = male_pvp.origin.apply(etl.normalize_country).str.lower()

male_pvp = male_pvp.drop(male_pvp.where(~male_pvp.destination.isin(etl.country_code_df['name'])).dropna().index,axis=0)
male_pvp = male_pvp.drop(male_pvp.where(~male_pvp.origin.isin(etl.country_code_df['name'])).dropna().index,axis=0)

male_pvp = male_pvp.rename({'destination':'name'},axis=1)
etl.insert_country_code(male_pvp)
male_pvp = male_pvp.rename({'name':'destination','region_id':'destination_id','origin':'name'},axis=1)
etl.insert_country_code(male_pvp)
male_pvp = male_pvp.rename({'name':'origin','region_id':'origin_id'},axis=1)

male_pvp.insert(1,'destination_id',male_pvp.pop('destination_id'))

male_pvp.insert(3,'origin_id',male_pvp.pop('origin_id'))

male_pvp.to_csv('../datasets/processed/proyecto_poblacion/male_pvp_codigo_pais.csv')

male_pvp = (
    male_pvp.set_index(["destination", "destination_id", "origin", "origin_id"])
    .rename_axis("year", axis=1)
    .stack()
    .reset_index()
    .sort_values(['year','destination'])
    .rename({0:'migrants'},axis=1)
    .reset_index(drop=True)
    .rename_axis(None, axis=1)
    .rename_axis("id")
)

In [32]:
total_pvp.insert(6,'fem',fem_pvp['migrants'])

In [33]:
total_pvp.insert(7,'male',male_pvp['migrants'])

In [34]:
total_pvp

,destination,destination_id,origin,origin_id,year,migrants,fem,male
id,,,,,,,,
0,afghanistan,2,pakistan,9,1990,8107,3531,4576
1,afghanistan,2,tajikistan,169,1990,40537,17658,22879
2,afghanistan,2,uzbekistan,171,1990,2027,883,1144
3,albania,51,greece,56,1990,40087,22823,17264
4,albania,51,italy,57,1990,11287,5714,5573
...,...,...,...,...,...,...,...,...
59005,zimbabwe,133,malawi,123,2020,108491,46661,61830
59006,zimbabwe,133,mozambique,125,2020,122923,53086,69837
59007,zimbabwe,133,south africa,115,2020,19731,8521,11210
59008,zimbabwe,133,united kingdom,50,2020,12705,5502,7203
59009,zimbabwe,133,zambia,132,2020,31692,13723,17969

In [35]:
total_pvp = total_pvp.drop(['destination','origin'],axis=1).rename({'destination_id':'destination','origin_id':'origin'},axis=1)
total_pvp.to_csv('../datasets/sql/migration.csv')